body {
    background-color: maroon;
    margin: auto;
    padding: auto;
}

h1 {
    color:aliceblue;
    background-color: black;
    text-align: center;
}

.container {
    width: 1000px;
    height: 2000px;
    background-color: white;
    margin: auto;
    padding: 15px;
}

.columns {
    float: left;
    width: 450px;
    padding: 10px;
}

footer {
    clear: left;
}